body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
}

h1 {
  text-align: center;
}

.flexbox-center {
  display: flex;
  justify-content: center;
}

.game-container {
  text-align: center;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  margin: 2rem;
}

.br-btm {
  border-bottom: 4px solid white;
}

.br-top {
  border-top: 4px solid white;
}

.br-left {
  border-left: 4px solid white;
}

.br-right {
  border-right: 4px solid white;
}

.cell {
  font-size: 7.7em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.score-board {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 4em;
  font-weight: bold;
}
